{% extends "anonym_form_app/base.html" %}

{% block title %}
    Просмотр обращений
{% endblock %}

{% block content %}
    <div class="d-flex container">
        <div class="d-flex flex-row justify-content-between w-100" id="id_title_start" style="margin-top: 80px">
            <div class="d-flex text-36px-bold">
                Текущие заявки
            </div>
            <div class="d-flex text-36px-bold cursor_text gray-text">
                Все заявки
            </div>
            {#            <div class="d-flex text-18px-light ье-3" style="line-height: 100%">Заявки абсолютно анонимные#}
            {#            </div>#}
        </div>
    </div>
    <div class="d-flex flex-column container">
        <div class="d-flex  back-search w-100 mt-3">

            <div class="d-flex flex-column justify-content-between col-2">
                <div class="d-flex w-100">
                    <select class="form-select w-100"
                            name="subdivision_id"
                            id="subdivision_id"
                            required>
                        <option value="" selected>Ответственное подразделение</option>
                        {% for obj in subdivisions %}
                            <option value="{{ obj.id }}">{{ obj.subdivision_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="d-flex flex-column justify-content-between col-2 ms-2">
                <div class="d-flex w-100">
                    <select class="form-select w-100"
                            name="important_of_question"
                            id="important_of_question"
                            required>
                        <option value="" selected>Срочность</option>
                        <option value="1">Низкая</option>
                        <option value="2">Средняя</option>
                        <option value="3">Высокая</option>
                    </select>
                </div>
            </div>

            <div class="d-flex flex-column justify-content-between col-2 ms-2">
                <div class="d-flex w-100">
                    <select class="form-select w-100"
                            name="type_of_question"
                            id="type_of_question"
                            required>
                        <option value="" selected>Тип обращения</option>
                        <option value="1">Жалоба</option>
                        <option value="2">Предложение</option>
                    </select>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-between col-2 ms-2">
                <div class="d-flex w-100">
                    <select class="form-select w-100"
                            name="status_id"
                            id="status_id"
                            required>
                        <option value="" selected>Статус</option>
                        <option value="0">Поступило</option>
                        <option value="1">В работе</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="d-flex w-100" id="inside_table" data-ajax-url='{% url "get-tasks-with-filters" %}'>
            {% include 'anonym_form_app/ajax/tasks_in_work.html' %}
        </div>
    </div>

    <div class="modal fade" id="detailModalWindow" data-ajax-url="{% url 'details-modal' %}" tabindex="-1">
    </div>

    <script>
        $("#subdivision_id").change(function () {
            console.log($('#subdivision_id').val())
            getDataWithFilter()
        });
        $("#important_of_question").change(function () {
            console.log($('#important_of_question').val())
            getDataWithFilter()
        });

        $("#type_of_question").change(function () {
            console.log($('#type_of_question').val())
            getDataWithFilter()
        });

        $("#status_id").change(function () {
            console.log($('#status_id').val())
            getDataWithFilter()
        });

        function getDataWithFilter() {
            let url = $("#inside_table").attr("data-ajax-url");
            let subdivision_id = $('#subdivision_id').val()
            let important_of_question = $('#important_of_question').val()
            let type_of_question = $('#type_of_question').val()
            let status_id = $('#status_id').val()

            $.ajax({                       // формируем AJAX запрос
                url: url,                    // подгружаем URL адрес для запроса
                data: {
                    'subdivision_id': subdivision_id,
                    'important_of_question': important_of_question,
                    'type_of_question': type_of_question,
                    'status_id': status_id,
                },
                success: function (data) {
                    $("#inside_table").html(data)
                }
            })
        }

        function onClickDetailView(val) {
            var url = $("#detailModalWindow").attr("data-ajax-url")
            $.ajax({
                type: "GET",
                url: url,
                data: {
                    'task_id': val,
                },
                success: function (data) {
                    $("#detailModalWindow").html(data)
                    console.log(val)
                    $('#detailModalWindow').modal('show');
                }
            })
        }



    </script>

{% endblock %}