{% extends "anonym_form_app/base.html" %}

{% block title %}
    Ошибка доступа
{% endblock %}

{% block content %}

    <div class="container">
        <div class="d-flex container back-search min-vh-100" style="max-width: 859px">
            <div class="d-flex w-100 align-items-center justify-content-center" id="id_generator_body">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-column" id="id_title_start">
                        <div class="d-flex text-48px-bold">
                            Ошибка доступа
                        </div>
                        <div class="d-flex text-32px-light" style="line-height: 120%">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
